*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  position: relative;
  line-height: 1.4;
  font-weight: 400;
  overflow-x: hidden;
  margin: 0 auto;
  font-size: 14px;
  background: #13100E;
  font-family: 'Open Sans', sans-serif;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
  display: inline-block;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul li,
ol li {
  list-style: none;
  display: block;
  margin: 0;
}

span {
  display: inline-block;
}

ul, ol {
  display: block;
  margin: 0;
  padding-left: 0;
}

button {
  outline: none;
  border: 0;
  padding: 0;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}
.header-main-h1 {
color: #fbfbfbfb;
font-size: 20px;
}
.header-main-h2 {
color: #fbfbfbfb;
font-size: 18px;
}
.top-slots {
color: #fbfbfbfb;
font-size: 24px;
text-align: center;
}
.table-playfortuna {
    border-collapse: collapse;
    border: 2px solid rgb(251, 251, 251);
    letter-spacing: 1px;
    font-size: 16px;
    width: 100%;
}
td, th {
    border: 1px solid rgb(251, 251, 251);
    padding: 5px 10px;
    text-align: center;
}
.caption {
    padding: 10px;
    caption-side: bottom;
    font-size: 14px;
}
.casino-table {
    font-size: 16px;
    color: #333;
    width: 100%;
    border-width: 1px;
    border-collapse: collapse;
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.hidden {
  display: none;
}

.site-wrap {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
  max-width: 1770px;
  width: 100%;
}

.bg-shadow {
  display: none;
  position: absolute;
  background: #00000070;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
}

.header-wrapper__wrp-top {
  padding: 10px 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-wrapper__logo {
  max-width: 255px;
  width: 100%;
}

.header-wrapper__hide {
  display: none;
}

.header-wrapper__wrp-buttons {
  max-width: 329px;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

.header-wrapper__door {
  width: 110px;
  height: 41px;
  text-align: center;
  line-height: 40px;
  color: #000;
  border-radius: 50px 0 0 50px;
  background: #FDC061;
  border: 1px solid #FDC061;
  -webkit-transition: .2s;
  transition: .2s;
}

.header-wrapper__door:hover {
  -webkit-transition: .2s;
  transition: .2s;
  background: #000;
  color: #FDC061;
}

.header-wrapper__wrp-language {
  position: relative;
  padding-right: 15px;
  cursor: pointer;
}

.header-wrapper__icon-flag {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-size: 12px;
  color: #8d8d8d;
}

.header-wrapper__registration {
  width: 165px;
  height: 41px;
  text-align: center;
  margin-left: -2px;
  line-height: 40px;
  color: #000;
  background: #3DAA45;
  border-radius: 0 50px 50px 0;
  border: 1px solid #3DAA45;
  -webkit-transition: .2s;
  transition: .2s;
}

.header-wrapper__registration:hover {
  -webkit-transition: .2s;
  transition: .2s;
  background: #000;
  color: #3DAA45;
}

.header-wrapper__wrp-language {
  display: inline-block;
}

.header-wrapper__img {
  max-width: 25px;
}

.header-wrapper__dropdown {
  display: none;
  background: #302D28;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 130px;
  border-radius: 3px;
  padding: 5px 15px;
  position: absolute;
  z-index: 99;
  right: 0;
  top: 49px;
}

.header-wrapper__item-l {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 4px;
}

.header-wrapper__icon-l {
  max-width: 17px;
}

.header-wrapper__link-l:hover {
  color: #b9b9b9;
}

.header-wrapper__wrp-bottom {
  padding-left: 250px;
  background-color: #302D28;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-wrapper__nav {
  max-width: 545px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-wrapper__item {
  border-right: 1px solid #000;
}

.header-wrapper__item:last-child {
  border-right: none;
}

.header-wrapper__link {
  padding: 10px 35px;
  white-space: nowrap;
  color: #FDC061;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: background .2s;
  transition: background .2s;
}

.header-wrapper__link:hover {
  -webkit-transition: background .2s;
  transition: background .2s;
  background: #FDC061;
  color: #000;
}

.header-wrapper__wrp-menu {
  display: none;
}

.header-wrapper__icon-menu {
  color: #fff;
  font-size: 20px;
  width: 30px;
  height: 30px;
  margin-left: 30px;
  border-radius: 50%;
}

.header-wrapper__drp-r {
  -webkit-transition: 1s;
  transition: 1s;
  position: fixed;
  right: -1000px;
  top: 0;
  bottom: 0;
  z-index: 999;
  width: 230px;
  background: #111111ea;
  padding: 40px 20px;
}

.header-wrapper__link-r {
  color: #ffffff;
}

.banner {
  background: url("../img/brands/banner2.jpg") center center;
  background-size: cover;
  width: 100%;
}

.banner-wrapper {
  padding-top: 20px;
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}

.banner-wrapper__frame {
  width: 100%;
  height: 530px;
}

.banner-wrapper__link {
  font-weight: 600;
  padding: 12px 30px;
  -webkit-transition: .2s;
  transition: .2s;
}

.banner-wrapper__link:hover {
  -webkit-transition: .2s;
  transition: .2s;
  background: #000;
  color: #3DAA45;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-container .swiper-pagination-bullets {
  bottom: 15px;
}

.swiper-container .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  border: 1px solid #797979;
}

.swiper-container .swiper-pagination-bullet-active {
  background: #FDC061;
}

.slider-wrapper__item img {
  min-height: 300px;
}

.nav-bar-wrapper__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  border-bottom: 4px solid #302D28;
}

.nav-bar-wrapper__link {
  color: #FDC061;
  font-size: 17px;
  white-space: nowrap;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 20px;
  position: relative;
}

.nav-bar-wrapper__link:hover::after {
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -4px;
  left: 0;
  border-bottom: 4px solid #f7bc5e81;
}

.transitions-wrapper {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.transitions-wrapper__nav {
  max-width: 255px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.transitions-wrapper__nav a {
  color: #FDC061;
  padding-right: 15px;
  position: relative;
}

.transitions-wrapper__nav a:hover {
  text-decoration: underline;
}

.transitions-wrapper__nav a::after {
  content: '>';
  display: block;
  position: absolute;
  left: 100%;
  top: 0;
  color: #acabab;
}

.transitions-wrapper__zk {
  color: #fff;
}

.transitions-wrapper__item {
  margin-top: 25px;
  color: #fff;
}

.transitions-wrapper__title {
  color: #FDC061;
  font-weight: 600;
  text-align: left;
  margin-bottom: 15px;
}

.transitions-wrapper__data {
  margin-bottom: 20px;
  text-align: left;
  display: block;
}

.transitions-wrapper__icon-calendar {
  margin-right: 10px;
}

.transitions-wrapper__description {
  display: block;
  text-align: left;
  font-weight: 500;
  margin: 45px 0;
}

.transitions-wrapper__link {
  text-align: left;
  display: block;
  color: #FDC061;
  text-decoration: underline;
  font-weight: 600;
  padding-bottom: 25px;
}

.transitions-wrapper__image {
  margin-bottom: 30px;
}

.transitions-wrapper__desc {
  margin-bottom: 30px;
}

.transitions-wrapper__stage {
  font-size: 16px;
  color: #FDC061;
}

.new {
  margin: 25px 0;
}

.new-headline {
  color: #fff;
  text-align: center;
  font-size: 32px;
}

.new-wrapper {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.new-wrapper__item {
  margin-top: 25px;
  color: #fff;
  border-bottom: 2px solid #211E1B;
}

.new-wrapper__title {
  color: #FDC061;
  font-weight: 600;
  text-align: left;
  margin-bottom: 15px;
}

.new-wrapper__data {
  margin-bottom: 20px;
  text-align: left;
  display: block;
}

.new-wrapper__icon-calendar {
  margin-right: 10px;
}

.new-wrapper__description {
  display: block;
  text-align: left;
  font-weight: 500;
  margin: 45px 0;
}

.new-wrapper__link {
  text-align: left;
  display: block;
  color: #FDC061;
  text-decoration: underline;
  font-weight: 600;
  padding-bottom: 25px;
}

.settings {
  margin: 15px 0 25px 0;
}

.settings-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.settings-wrapper__wrp-input {
  max-width: 235px;
  width: 100%;
  margin-right: 15px;
  position: relative;
}

.settings-wrapper__form-control {
  outline: none;
  border: none;
  width: 235px;
  height: 40px;
  background-color: #302D28;
  padding: 0 30px 0 10px;
  font-size: 16px;
  border-radius: 2px;
  color: #fff;
}

.settings-wrapper__form-control::-webkit-input-placeholder {
  color: #93928F;
  font-weight: 600;
}

.settings-wrapper__form-control::-moz-placeholder {
  color: #93928F;
  font-weight: 600;
}

.settings-wrapper__form-control:-moz-placeholder {
  color: #93928F;
  font-weight: 600;
}

.settings-wrapper__form-control:-ms-input-placeholder {
  color: #93928F;
  font-weight: 600;
}

.settings-wrapper__icon-search {
  position: absolute;
  right: 7px;
  top: 4px;
  font-size: 20px;
  color: #FDC061;
}

.settings-wrapper__wrp-providers {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 235px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  border-radius: 2px;
  color: #FDC061;
  background-color: #302D28;
  padding: 0 15px;
}

.settings-wrapper__provider {
  font-size: 17px;
  position: relative;
  font-weight: 500;
}

.settings-wrapper__icon-arrow {
  position: absolute;
  right: 7px;
  top: 0;
}

.settings-wrapper__qw {
  position: absolute;
  z-index: 99;
  display: none;
}

.settings-wrapper__dropdown {
  margin-left: -15px;
  z-index: 99;
  padding: 7px;
  background: #302D28;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.settings-wrapper__item {
  width: 20%;
  padding: 18px 0;
  font-size: 16px;
  text-align: center;
  border: 1px solid #42392F;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.settings-wrapper__item:hover {
  -webkit-transition: background .3s;
  transition: background .3s;
  background: #616161;
}

.games {
  margin: 23px 0 15px 0;
}
.games-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
/*
.games-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}*/

.games-wrapper__item {
  overflow: hidden;
  width: 14.2%;
  margin-bottom: 15px;
  -webkit-transition: opacity .7s;
  transition: opacity .7s;
  position: relative;
  transition: opacity .7s;
}

.games-wrapper__item:hover {
  -webkit-transition: opacity .7s;
  transition: opacity .7s;
}

.games-wrapper__item:hover::before {
  content: '';
  position: absolute;
  background: #000000;
  opacity: 0.5;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 3px;
  -webkit-transition: opacity .7s;
  transition: opacity .7s;
}

.games-wrapper__item:hover .games-wrapper__info {
  opacity: 1;
  -webkit-transition: opacity .7s;
  transition: opacity .7s;
}

.games-wrapper__item img {
  border-radius: 3px;
}

.games-wrapper__info {
  -webkit-transition: opacity .7s;
  transition: opacity .7s;
  opacity: 0;
  min-width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}

.games-wrapper__title {
  display: block;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.games-wrapper__btn-play {
  background-color: #3DAA45;
  padding: 10px;
  border-radius: 25px;
  display: block;
  color: #000;
  font-weight: 600;
  font-size: 16px;
  margin: 12px 0;
  border: 1px solid transparent;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.games-wrapper__btn-play:hover {
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  border-color: #3DAA45;
  background-color: #000000;
  color: #3DAA45;
}

.games-wrapper__demo {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.info-link {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #211E1B;
}

.info-link a {
  padding: 12px 30px;
  background-color: #3DAA45;
  color: #000;
  font-weight: 600;
  border-radius: 30px;
  font-size: 16px;
  -webkit-transition: .3s;
  transition: .3s;
}

.info-link a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #196d1f;
  color: #fff;
}

.info-wrapper__content {
  color: #dfdfdf;
}

.info-wrapper__headline {
  display: inline-block;
  font-size: 35px;
  color: #fff;
  margin-bottom: 15px;
}

.info-wrapper__title {
  display: inline-block;
  color: #FDC061;
  font-size: 16px;
  margin-bottom: 15px;
}

.info-wrapper__description {
  margin-bottom: 25px;
}

.info-wrapper__item {
  padding-left: 15px;
  margin-bottom: 10px;
  position: relative;
}

.info-wrapper__item::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #FDC061;
  left: 0;
  top: 7px;
}

.info-wrapper__item:last-child {
  margin-bottom: 35px;
}

.info-wrapper__subtitle {
  text-decoration: underline;
  color: #FDC061;
}

.payment {
  margin: 30px 0;
}

.payment-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.payment-wrapper__item {
  margin: 0 auto;
  width: 100px;
  height: 110px;
}

.nav-box {
  padding: 25px 0;
  background-color: #302D28;
}

.nav-box-wrapper {
  text-align: center;
}

.nav-box-wrapper__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.nav-box-wrapper__link {
  color: #FDC061;
  font-weight: 700;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav-box-wrapper__link:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #fff;
}

.brands-wrapper {
  text-align: center;
}

.brands-wrapper__list {
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.brands-wrapper__item {
  margin: 0 auto;
  width: 140px;
  height: 86px;
  margin-bottom: 10px;
}

.brands-wrapper__list2 {
  margin: 0 auto;
  max-width: 690px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.brands-wrapper__list3 {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.brands-wrapper__item2 {
  margin: 0 auto;
  width: 130px;
  height: 86px;
  margin-bottom: 10px;
}

.brands-wrapper__item3 {
  margin: 0 auto;
  width: 110px;
  height: 86px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .animated {
    /*CSS transitions*/
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    animation: none !important;
  }
}

@media screen and (max-width: 1696px) {
  .games-wrapper__item {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1470px) {
  .games-wrapper__item {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1416px) {
  .games-wrapper__item {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1244px) {
  .games-wrapper__item {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1199px) {
  .header-wrapper__wrp-top {
    padding: 10px 0;
  }
}

@media screen and (max-width: 1194px) {
  .settings-wrapper__item {
    width: 33%;
  }
  .settings-wrapper__item > a {
    font-size: 14px;
  }
}

@media screen and (max-width: 1145px) {
  .header-wrapper__wrp-bottom {
    padding-left: 0;
  }
}

@media screen and (max-width: 992px) {
  .games-wrapper__item {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .banner-wrapper__frame {
    height: 450px;
  }
  .slider-wrapper__item img {
    min-height: 270px;
  }
  .nav-bar-wrapper__link {
    font-size: 16px;
  }
}

@media screen and (max-width: 940px) {
  .nav-bar-wrapper__link {
    margin-right: 30px;
    font-size: 14.4px;
  }
  .nav-bar-wrapper__nav {
    overflow-x: auto;
  }
}

@media screen and (max-width: 896px) {
  .settings-wrapper__item {
    width: 50%;
  }
  .header-wrapper__nav {
    display: none;
  }
  .header-wrapper__wrp-menu {
    display: inline-block;
    position: relative;
  }
  .header-wrapper__wrp-buttons {
    max-width: 373px;
  }
}

@media screen and (max-width: 768px) {
  .games-wrapper__item {
    width: 245px;
    margin-left: auto;
    margin-right: auto;
  }
  .banner-wrapper__frame {
    height: 380px;
  }
  .nav-box-wrapper__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-box-wrapper__link {
    margin-bottom: 6px;
  }
  .nav-box {
    padding: 20px 0;
  }
  .header-wrapper__dropdown {
    top: 39px;
  }
  .settings-wrapper__item {
    width: 50%;
  }
  .header-wrapper__nav {
    display: none;
  }
  .header-wrapper__wrp-menu {
    display: inline-block;
  }
  .header-wrapper__wrp-buttons {
    max-width: 329px;
  }
  .header-wrapper__logo {
    max-width: 170px;
  }
  .header-wrapper__door {
    height: 33px;
    line-height: 33px;
    width: 91px;
    font-weight: 500;
    font-size: 15px;
  }
  .header-wrapper__registration {
    height: 33px;
    line-height: 33px;
    font-weight: 500;
    font-size: 15px;
    width: 140px;
  }
  .slider-wrapper__item img {
    min-height: 200px;
  }
}

@media screen and (max-width: 694px) {
  .settings-wrapper__item {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
      .games-wrapper__item {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .banner-wrapper__frame {
    height: 350px;
  }
  .info-wrapper__headline {
    font-size: 23px;
  }
  .slider-wrapper__item img {
    min-height: 160px;
  }
}

@media screen and (max-width: 528px) {
  .header-wrapper__logo {
    max-width: 127px;
  }
  .header-wrapper__door {
    font-size: 12px;
    width: 70px;
  }
  .header-wrapper__registration {
    font-size: 12px;
    width: 105px;
  }
  .header-wrapper__wrp-buttons {
    max-width: 273px;
  }
}

@media screen and (max-width: 514px) {
      .games-wrapper__item {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
  }
  .settings-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .settings-wrapper__wrp-input {
    margin-bottom: 15px;
  }
  .banner-wrapper__frame {
    height: 300px;
  }
  .settings-wrapper__wrp-providers {
    width: 100%;
  }
}

@media screen and (max-width: 447px) {
      .games-wrapper__item {
    width: 170px;
    margin-left: auto;
    margin-right: auto;
  }
  .header-wrapper__wrp-language {
    display: none;
  }
  .header-wrapper__wrp-buttons {
    max-width: 229px;
  }
  .header-wrapper__show {
    display: none;
  }
  .header-wrapper__hide {
    display: block;
  }
  .banner-wrapper__frame {
    height: 260px;
  }
}

@media screen and (max-width: 420px) {
  .slider-wrapper__item img {
    min-height: 122px;
  }
}

@media screen and (max-width: 406px) {
    .games-wrapper__item {
    width: 170px;
    margin-left: auto;
    margin-right: auto;
  }
  .new-wrapper__image {
    min-height: 110px;
  }
  .new-wrapper__description {
    margin: 25px 0;
  }
}

@media screen and (max-width: 386px) {
      .games-wrapper__item {
    width: 155px;
    margin-left: auto;
    margin-right: auto;
  }
  .banner-wrapper__frame {
    height: 220px;
  }
  .header-wrapper__icon-menu {
    margin-left: 20px;
  }
  .header-wrapper__wrp-buttons {
    max-width: 219px;
  }
  .header-wrapper__registration {
    font-size: 10px;
    width: 88px;
    height: 30px;
    line-height: 30px;
    font-weight: 600;
  }
  .header-wrapper__door {
    height: 30px;
    line-height: 30px;
    font-size: 10px;
    font-weight: 600;
    width: 55px;
  }
  .header-wrapper__wrp-buttons {
    max-width: 187px;
  }
}

@media screen and (max-width: 343px) {
    .games-wrapper__item {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }
  .header-wrapper__logo {
    max-width: 82px;
  }
}
/*# sourceMappingURL=main.css.map */